# Telegram Bot Token
TELOXIDE_TOKEN=<bot_token>  # Telegram Bot Token from @BotFather in Telegram

# Kinopoisk API
KINO_API_BASE_URL=<https://kinoapi-example.com/v1/api>
KINO_API_KEY=<api_key>

RUST_LOG=info
